.app {
    background-color: #222;
    color:  gray;
    .table{
        background-color: #222;

        .tableCell{
            color: gray;
        }
    }

    .sidebar{
       .center{
        .icon{
            color: gray;
        }
       }
    }

}